.l-footer {
    position: relative;
    bottom: .5rem;
    &__copyright > p {
        text-align: center;
        font-style: italic;
        &::selection {
            background: rgb(236, 240, 34);
        }
    }

}
