.l-footer {
    position: relative;
    margin-top: 2.0rem; 
    &__copyright > p {
        text-align: center;
        font-style: italic;
        &::selection {
            background: rgb(236, 240, 34);
        }
    }

}
