.l-header {
    position: relative;
    padding: 1.5rem 2.0rem 0;
    margin-bottom: 2.0rem;

    &__logo {
        position: absolute;
        width: 80px;
        top: 2.0rem;
        left: 2.0rem;
    }

    &__items {
        display: flex;
        justify-content: flex-end;
        padding-left: 0;
    }

    &__item {
        font-size: 1.25rem;
        font-weight: 700;
        font-style: italic;
        letter-spacing: .1rem;

        a {
            color: #000;
            text-decoration: none;
            margin: 0 1.0rem;

            //transition: all 0.5s cubic-bezier(0.04, 0.66, 0.13, 0.96);

            &:hover {
                animation: strobe 1s ease forwards;
                animation-iteration-count: infinite;
            }
        }

        &--selected {
            font-size: 1.25rem;
            font-weight: 700;
            font-style: italic;
            letter-spacing: .1rem;
            text-decoration: line-through;

            a {
                color: #000;
                text-decoration: none;
                margin: 0 1.0rem;

                //transition: all 0.5s cubic-bezier(0.04, 0.66, 0.13, 0.96);

                &:hover {
                    animation: strobe 1s ease forwards;

                    //animation-iteration-count: infinite;
               
                }
            }
        }
    }

    @media screen and (max-width: 480px) {
        padding: 1.0rem .5rem 0;
        &__logo {
            position: absolute;
            width: 80px;
            top: 1.5rem;
            left: 1.0rem;
        }

        &__item {
            font-size: 1.0rem;
            letter-spacing: .1rem;

            a {
                margin: 0 .5rem;
            }

            &--selected {
                font-size: 1.0rem;

                a {
                    margin: 0 .5rem;
                }
            }
        }
    }
}
