.l-profile {
    display: flex;
    width: 70%;
    margin: 5.0rem auto;
    max-width: 640px;

    &__content {
        margin: 0 1.0rem;
    }

    &__image img {
        width: 200px;
    }

    &__name {
        font-size: 3.0rem;
        font-style: italic;

        margin: 0;
        margin-bottom: 1.0rem;
    }

    &__description {
        color: rgb(77, 77, 77);
        line-height: 2.0rem;

        a {
            color: rgb(77, 77, 77);
        }
    }

    &__snsItems {
        display: flex;
        padding-left: 0;
        font-weight: bold;
        flex-wrap: wrap;
        line-height: 1.5rem;
    }

    &__snsItem {
        margin-right: .5rem;
        & > a {
            font-style: italic;
            color: rgb(0, 0, 0);
            text-decoration: none;
        }
    }
}
