.l-works {
    width: 100%;

    &__items {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    &__item {
        width: calc(100%/ 3);
        height: auto;

        & img {
            display: block;
            width: 100%;
            overflow: hidden;
        }

        &:hover {
            animation: strobe 1s cubic-bezier(0.07, 0.7, 0.25, 1) forwards;
            animation-iteration-count: infinite;
        }
    }

    @media screen and (max-width: 640px) {
        padding-bottom: 2.0rem;
        &__item {
            width: calc(100%/ 2);
        }
    }
}

.fadeIn {
    animation: worksIn .5s ease forwards;
}